#Se va a ignorar este archivo ya que nunca estuvo en Staging además de los directorios especificados en el
# .gitignore_global ubicado en C:/Users/jcruz/OneDrive - Apex Systems/Documentos/Learning/CSharp
First Version.txt